
<div class="row edit-server">
	<div class="col-lg-1 col-centered">
		<h3>Editing server</h3>

		<%= render 'form' %>

		<%= link_to 'Show', @server %> |
		<%= link_to 'Back', servers_path %>
	</div>
</div>





