<div class="container" ng-app="awsEventsApp">
  <div class="row" id="server-listing">
    <div class="col-md-10" ng-controller="AwsEventListCtrl">
      <div class="form-group">
      <label >&nbsp;</label>
      <input type="text" class="form-control" placeholder="Search" ng-model="query">
      </div>
      
      <div>
        <accordion close-others="oneAtATime">
          <!-- <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
            This content is straight in the template.
          </accordion-group> -->
          <accordion-group heading="{{event.log_event['userIdentity']['userName'] }} - {{event.event_name}}  @  {{event.event_time}}" ng-repeat="event in events | filter:query">
            <pre>{{ event | json }}</pre>
          </accordion-group>
          <!-- <accordion-group is-open="status.open" ng-repeat="event in events | filter: query">
              <accordion-heading>
                  {{event.event_name}} - by {{ event.log_event['userIdentity']['userName'] }} @ {{ event.event_time }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </accordion-heading>
              {{event }}
          </accordion-group> -->
        </accordion>
      </div>
    </div>
    <div class="cold-md-2">
    </div>
  </div>  
</div>  


